{% extends 'users/base.html' %}

{% block scripts %}
	<script src="https://kit.fontawesome.com/d271e69695.js"></script>
{% endblock scripts%}

{% block title %}Add user connections{% endblock title %}

{% block content %}
<h1>Add user connections</h1>
{% if users_list %}
	<table>
	<tr>
		<th>User Id</th>
		<th>User Name</th>
		<th>Users available for connection</th>
	</tr>
	{% for user_1 in users_list %}
		<tr>
			<td>{{user_1.user_id}}</td>
			<td>{{user_1.name}}</td>
			<td>{% spaceless %}{% for user_2 in users_list %}
					{%if user_2 not in user_1.connects.all and user_1.user_id != user_2.user_id %}
						<a href="../add_connection/?id1={{user_1.user_id}}&id2={{user_2.user_id}}" onclick="return confirm('This will connect {{user_1.name}} and {{user_2.name}}.Are you sure?')">{{user_2.name}}</a>{%if not forloop.last%}&nbsp{%endif%}
					{%endif%}
				{% endfor %}{% endspaceless %}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p>No users available.</p>
{% endif %}

{% endblock content %}